@font-face {
  font-family: "Roboto";
  src: local("../font/Roboto-Regular.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  background-color: #27292D;
  scroll-behavior: smooth;
  color: #fff;
}

/* Header */
h1>span{
  color: #ff00ff;
}